// PROJECT SPECIFIC VARIABLES - These variables can be used in all of the rest of your SASS files for the project
// fonts
// put font import here if not using typekit or google fonts
/*
@font-face {
  font-family: 'Veneer';
  src: url('../fonts/Veneer.woff') format('woff');
}
@font-face {
  font-family: 'ThirstyRough';
  src: url('../fonts/ThirstyRoughLight.woff') format('woff');
}
*/
$colors: (white: #ffffff,
body-clr: #2d3e50,
green-clr: #8db53f,
dark-green-clr: #6c941f,
h-blue: #28334A,
blue-clr: #15a5e4,
blue-container: #0b2e5a,
menu-clr: #2b353e,
dark-blue-clr: #2b3e50);

//Added a new comment
@mixin border-radius($radius) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -o-border-radius: $radius;
}
@mixin transition($property, $duration, $animation) {
    -webkit-transition: $property $duration $animation;
    -moz-transition: $property $duration $animation;
    -ms-transition: $property $duration $animation;
    -o-transition: $property $duration $animation;
    transition: $property $duration $animation;
}
// RESPONSIVE
$mobile: "only screen and (max-width : "+$small-screen+")";
$tablet: "only screen and (max-width : "+$medium-screen+")";
$large: "only screen and (max-width : "+$large-screen+")";
$mobile-up: "only screen and (min-width : "+$small-screen+")";
$tablet-up: "only screen and (min-width : "+$medium-screen+")";
$large-up: "only screen and (min-width : "+$large-screen+")";
