/***** Body *****/
html {
    font-size: 10px;
}

body {
    @include font(mont, reg);
    font-size: 18px;
    color: map-get($colors, body-clr);
    line-height: 1.6;
    background-image: url(../../assets/img/watermark-bg.png), url(../../assets/img/wiideman-icon.png), url(../../assets/img/wiideman-icon.png);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position:101% 90px, -2% 1100px, 102% 2880px ;
}

p {
    margin: 0px 0px 4.5rem 0px;
    line-height: 1.7;
}

/***** Lists *****/
ul,
ol {
    margin: 0 0 4.5rem 25px;
}

ul li,
ol li {
    margin: 0 0 1.5rem 0;
    position: relative;
    color: map-get($colors, dark-blue-clr);
}

ul ul,
ol ol {
    margin: 2rem 0 0 4rem;
}

.page-content,
.why-payers-content {
    ul {
        li {
            font-size: 16px;
            &:before {
                content: "";
                width: 6px;
                height: 6px;
                background-color: map-get($colors, dark-blue-clr);
                position: absolute;
                @include border-radius(20px);
                left: -25px;
                top: 8px;
            }
        }
    }

    ol {
        li {
            counter-increment: list;
            list-style-type: none;
            font-size: 16px;
            &:before {
                color: map-get($colors, blue-clr);
                content: counter(list) ".";
                left: -25px;
                top: 0px;
                position: absolute;
                width: 26px;
            }
        }
    }
}

/***** Links *****/
a {

    &,
    &:visited {
        color: map-get($colors, blue-clr);
        text-decoration: none;
        border-bottom: 1px solid transparent;
    }
}

a:hover {
    color: map-get($colors, main-purple);
    text-decoration: none;
    border-bottom: 1px solid map-get($colors, blue-clr);
}

a,
a:visited,
input[type="submit"],
input[type="reset"],
button,
.search-button,
.wpcf7-submit {
    @include transition(all, 0.4s, ease-in-out);
    outline: none;
}

/***** Headings *****/
h1,
h2,
h3,
h4,
h5,
h6 {
    color: map-get($colors, dark-blue-clr);
    margin: 0 0 3rem 0;
    text-transform: initial;
}

h1 {
    line-height: 1.1;
    margin-bottom: 4.5rem;
    font-size: 9rem;
    @include font(mont, medium, weight);
}

h2 {
    line-height: 1.1;
    font-size: 6.5rem;
    @include font(mont, medium, weight);
}

h3 {
    line-height: 1.2;
    font-size: 6rem;
    @include font(mont, bold, weight);
}

h4 {
    line-height: 1.2;
    font-size: 4rem;
    @include font(mont, bold, weight);
    letter-spacing: -0.8px;
}

h5 {
    line-height: 1.35;
    font-size: 24px;
    @include font(mont, medium, weight);
}

h6 {
    line-height: 1.4;
    font-size: 15px;
    @include font(mont, bold, weight);
    text-transform: uppercase;
    opacity: 0.6;
    letter-spacing: 1.05px;
}
.heading {
    color: map-get($colors, dark-blue-clr);
    margin: 0 0 2.5rem 0;
    text-transform: initial;
    line-height: 1.15;
    font-size: 9rem;
    @include font(mont, medium);
}

.section-heading {
    font-size: 3rem;
    @include font(mont, bold);
    margin-bottom: 3rem;
}
.section-headings {
    max-width: 720px;
    margin: 0 auto 6rem auto;
    .subheading {
        color: #657582;
        max-width: 620px;
        margin: 0 auto;
    }
}
.content-heading {
    font-size: 4.5rem;
    @include font(mont, bold, weight);
}

.intro-text {
    font-size: 24px;
    letter-spacing: 1px;
    margin-bottom: 5rem;
}

figure {
    padding-top: 4rem;
}

figcaption {
    font-size: 15px;
    margin: 1.6rem 0 0 0;
    color: map-get($colors, h-blue);
}
.big-wrapper {
    max-width: 1330px;
    margin: 0 auto;
    width: 90%;
}
.wrapper {
    max-width: 1260px;
    margin: 0 auto;
    width: 90%;
}

.m-wrapper {
    max-width: 1060px;
    margin: 0 auto;
    width: 90%;
}
.sm-wrapper {
    max-width: 830px;
    margin: 0 auto;
    width: 90%;
}
.s-wrapper {
    max-width: 680px;
    margin: 0 auto;
    width: 90%;
}
.page-content {
    margin-bottom: 90px;
}



/***** Tables *****/
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 0 4rem 0;
    width: 100%;
    text-align: right;
    table-layout: fixed;
}

th {
    font-weight: 700;
    padding: 1.5rem 1.8rem;

    &:nth-child(1) {
        text-align: left;
    }
}

tr {
    vertical-align: middle;

    &:nth-child(even) {
        background-color: #f1f2e4;
    }
}

td {
    padding: 1.3rem 1.8rem;
    vertical-align: middle;

    &:nth-child(1) {
        text-align: left;
    }
}

/***** Quotes *****/
blockquote {
    // position: relative;
    // color: map-get($colors, h-blue);
    // @include font(mont, medium, weight);
    // font-size: 2.6rem;
    // background-color: #f8f8f8;
    // box-shadow: none;
    // padding: 8rem 12rem 8rem 10rem;
    @include font(dom, reg);
    color: map-get($colors, blue-clr );
    font-size: 25px;
    padding: 10px 70px 20px 50px;
    background: url(../../assets/img/author-quote.png) no-repeat left 0px;
    margin: 4rem 0;
    cite {}

    p {
        margin-bottom: 0px;
        font-size: 3.6rem;
    }
}

q {
    quotes: " â€œ "" â€ ";
    padding: 0.3rem 0.6rem 0.3rem 2rem;
    position: relative;
    background-color: #3d3d3b;
    color: #fbfbf1;

    &:before {
        font-size: 3rem;
        position: absolute;
        content: open-quote;
        left: 7px;
        top: -8px;
        color: #958065;
    }

    &:after {
        display: none;
    }
}
.spacer {
    margin-bottom: 100px;
    display: inline-block;
}

/***** Buttons *****/
.view-all {
    margin-top: 20px;
}
.button-style {
    position: relative;
}
a.btn.hover {
    position: absolute;
    left: 20%;
}
.button-style {
    margin-bottom: 50px;
}
.btn.hover {
    margin-left: 160px;
}
a.btn, .btn {
    background-color: map-get($colors, green-clr);
    @include font(mont, bold);
    font-size: 16px;
    line-height: 1;
    display: inline-block;
    box-sizing: border-box;
    min-width: 210px;
    color: map-get($colors, white);
    text-align: center;
    padding: 18px 45px 18px 45px;
    @include border-radius(60px);
    border: 2px solid map-get($colors, green-clr);

    &:hover, &.hover {
        border: 2px solid map-get($colors, dark-green-clr);
        box-shadow: 0 8px 15px rgba(96, 123, 0, 0.33);
        background-color: map-get($colors, dark-green-clr); 
    }
}
a.btn.blue-clr {
    background-color: transparent;
    border: 2px solid map-get($colors, blue-clr);
    color: map-get($colors, blue-clr);
    &:hover, &.hover {
        border: 2px solid map-get($colors, blue-clr);
        box-shadow: none;
        background-color: map-get($colors, blue-clr);
        color: map-get($colors, white);
    }
}
a.green-clr.arrow {
    padding-right: 88px;
    padding-left: 33px;
    background: map-get($colors, green-clr) url(../../assets/img/btn-arrow.png) no-repeat right 35px center;
    &:hover, &.hover {
        border: 2px solid map-get($colors, dark-green-clr);
        background-color: map-get($colors, dark-green-clr); 
        background: map-get($colors, dark-green-clr) url(../../assets/img/btn-arrow.png) no-repeat right 35px center;
    }
}
a.btn.green-clr.not-filled {
    background-color: transparent;
    color: map-get($colors, green-clr );

    &:hover {
        background-color: map-get($colors, dark-green-clr );
    color: map-get($colors, white );
    }
}
a.green-clr.small {
    min-width: auto;
    font-size: 13px;
    padding: 17px 24px;
    @include border-radius(6px);
}
a.green-clr.large{
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 16px 40px;
    width: 100%;
    max-width: 290px;
}
a.blue-clr.small {
    min-width: auto;
    font-size: 14px;
    padding: 12px 35px;
}
.read-more {
    @include font(mont, bold);
    font-size: 16px;
    display: inline-block !important;
    background: url(../../assets/img/read-more-arrow.png) no-repeat right center;
    padding-right: 3rem;
    color: map-get($colors, blue-clr );
    border-bottom: 1px solid transparent;
    @include transition(all, 0.4s, ease-in-out);
}
a.question {
    position: relative;
    margin-left: 30px;
    font-size: 16px;
    @include font(mont, medium);
    strong, b {
        @include font(mont, bold);
    }
    &:before {
        position: absolute;
        left: -30px;
        content: '';
        background: url(../../assets/img/question-icon.png) no-repeat left 4px;
        background-size: 100%;
        width: 18px;
        height: 24px;
    }
    &.ebook:before {
        background: url(../../assets/img/pdf-icon.png) no-repeat left 4px;
    }
}


.feature-image {
    margin-bottom: 5rem;
}
.mrg-bottom {
    margin-bottom: 5rem;
}
.accordion {
    border-bottom: 1px solid #e4e6fb;

    dt {
        a {
            display: block;
            padding: 3rem 15rem 3rem 0;
            font-size: 22px;
            @include font(mont, bold, weight );
            color: #162948;
            border-top: 1px solid #e4e6fb;
            border-bottom: none;
            position: relative;

            &.acc-current {
                &:after {
                    transform: rotate(135deg);
                }
            }

            &:after {
                content: "";
                background: url(../img/plus-icon.svg) no-repeat;
                position: absolute;
                right: 15px;
                top: 30px;
                display: block;
                height: 28px;
                @include transition(all, 0.4s, ease-in-out);
                width: 28px;
            }
        }

        &:first-child() a {
            border-top: 0;
        }
    }
}

.featured-img {
    text-align: center;
    margin: 1rem 0 7rem 0;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 407px;
    width: 100%;
}
.page-content  {
    img {
        margin-bottom: 4rem;
    }
}

.page-banner {
    padding: 6rem 0 0 0;
}

.mfp-arrow-left {
    left: 90%;
}

.mfp-arrow-right {
    right: 4%;
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
    width: 90%;
}

.error404 .menu-item-has-children {
    background: none;
    padding-right: 0;
}

.pay-content ul li:before {
    display: none;
}

.help-bg .help-hover-content {
    width: 100%;
}

.mobile {
    display: none;
}
.posts-filter {
    margin-bottom: 6rem;
    ul {
        margin: 0;
        li {
            display: inline-block;
            margin: 0 5px;
            a.btn.blue-clr {
                min-width: auto;
                padding: 16px 35px 16px 35px;
                background-color: rgba(map-get($colors, blue-clr), 0.10);
                border: 2px solid #e7f6fc;
                &:hover, &.current {
                    background-color: map-get($colors, blue-clr);
                    border-color: map-get($colors, blue-clr);
                    color: map-get($colors, white);
                }
            }
            &:before {
                display: none;
            }
        }
    }
}
.interactive-states .post-card {
    float: left;
    max-width: 400px;
}
.cards-container {
    padding: 50px 0;
}
.post-card {
    margin: 20px 15px;
    overflow: hidden;
    @include border-radius(5px);
    box-shadow: 0 0 17px rgba(34, 61, 73, 0.18);
    transition: all 0.4s ease-in-out;
    a {
        color: map-get($colors, body-clr);
        display: block;
        border: none;
        &:hover {
            border: none;
        }
    }
    span {
        display: block;
        @include transition (all, 0.4s, ease-in-out);
    }
    &:hover, &.active-stat {
        box-shadow: 0 0 20px rgba(34, 61, 73, 0.4);
        .card-title {
            color: map-get($colors, green-clr );
        }
        .read-more {
            border-bottom: 1px solid map-get($colors, blue-clr );
        }
    }

}
.card-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 230px;
    position: relative;
    @include border-radius(5px 5px 0 0);
    @include transition(all, 0.4s, ease-in-out);
}
.card-cat {    
    position: absolute;
    top: 20px;
    left: 25px;
    font-size: 12px;
    color: map-get($colors, white);
    @include font(mont, bold, weight);  
    background-color: rgba(0,0,0,0.4);
     @include border-radius(10px);
    padding: 3px 15px;
}
.card-watermark {
    position: absolute;
    right: 0;
    bottom: 5px;
    max-width: 50px;
}
.card-des {
    background-color: map-get($colors, white );
    padding: 20px 24px 30px 24px;
}
.card-title {
    @include transition(all, 0.4s, ease-in-out);
    margin-bottom: 20px;
    color: map-get($colors, dark-blue-clr);
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.card-expert {
    color: map-get($colors, body-clr);
    font-size: 16px;
    padding-right: 5rem;
    margin-bottom: 4rem;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    p {
        margin-bottom: 0;
    }
}


.gray-container {
    background-color: #f2f7f8;
}
.dark-blue-container {
    background-color: #0b2e5a;
}
.gray-bg {
    padding: 150px 0;
    background-color: #f2f7f8;
}
.testimonial-slider {
    .owl-nav{position:absolute;width:110px;top:0; right: 0; margin-top: 0;
        .disabled{opacity:1 !important;cursor:pointer !important}
        button {
            &.owl-prev, &.owl-next {
                border: 1px solid #d2d2d2 !important;
            }
        }
        .owl-next, .owl-prev{width:46px !important;height:46px !important;border-radius:50% !important;margin:0 !important;position:absolute}
    .owl-prev{
        background:url(../img/slide-left-arrow.png) no-repeat center center !important;
        left: 0px;
        &:hover{background:#15a5e4 url(../img/slide-left-arrow-hover.png) no-repeat center center !important;
            border: 1px solid #15a5e4 !important;
        }
    }
    .owl-next{background:url(../img/slide-right-arrow.png) no-repeat center center !important;right:0;
        &:hover{background:#15a5e4 url(../img/slide-right-arrow-hover.png) no-repeat center center !important;
            border: 1px solid #15a5e4 !important;
        }
    }
    }
    
    .owl-dots {
        position: absolute;
        left: 57%;
        bottom: 0.5rem; 
        .owl-dot {
            span {
                background: transparent;
                border: 1px solid #758295;
                margin: 5px;
            }
            &.active span, &:hover span {
                background: #15a5e4;
                border: 1px solid #15a5e4;
            }
        }
    }
}

.play-icon {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 126px;
    height: 126px;
    a {
        border: none;
        &:hover {
            border: none;
        }
    }
}
.client-img {
    position: relative;
    width: 100%;
    height: 470px;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}
.slide-quote {
    margin-bottom: 35px;
}
.client-review {
    min-height: 250px;
    p {
        margin-bottom: 0;
    }
}
.about-client-shape {
    display: block;
    margin-bottom: 40px;
}
.about-client {
    font-size: 14px;
}
.client-review {
    @include font(dom, reg);
    font-size: 25px;
}
.client-name {
    @include font(mont, bold, weight);
}
.slide-content a.btn.blue-clr {
    background: transparent;
    &:hover {
        background-color: map-get($colors, blue-clr )
    }
}

.course-card {
    .card-title {
        font-size: 22px;
        margin-bottom: 5px;
    }
    .card-expert {
        padding-right: 0;
        opacity: 0.7;
        margin-bottom: 3rem;
        -webkit-line-clamp: 3;
    }
    .card-des {
        padding-bottom: 0;
    }
    .card-cat {
        border: 1px solid #ffffff;
        padding: 2px 10px;
        font-size: 11px;
    }
}
.course-fectors {
    margin-bottom: 10px;
    span {
        display: inline-block;
    }
    .course-fector {
        margin-right: 7px;
        padding: 5px 10px;
        border: 1px solid rgba(map-get($colors, body-clr ), 1);
        border-radius: 15px;
        line-height: 0;
        min-width: 90px;
        text-align: center;
        box-sizing: border-box;
        span {
            display: inline-block;
            font-size: 12px;
            line-height: 1; 
            padding: 2px 2px 2px 2px;
            background-position: left center;
            background-repeat: no-repeat;
        }
        .hours {
            padding-left: 20px;
            background-image: url(../../assets/img/course-hours.svg);
        }
        .level {
            padding-left: 20px;
            background-image: url(../../assets/img/course-level.svg);
        }
    }
    .course-cost {
        margin-bottom: 0;
        color: map-get($colors, blue-clr );
        @include font(mont, bold, weight);
    }
}
.isotope-item .course-fectors .course-fector {
    padding: 0;
    min-width: auto;
    text-align: left;
    border: none;
}
.course-card:hover .btn {
    background-color: map-get($colors, green-clr);
    border-color: map-get($colors, green-clr);
}
.card-description {
    .btn {
        @include transition(all, 0.4s, ease-in-out);
        text-transform: uppercase;
        @include border-radius(0 0 5px 5px);
        background-color: map-get($colors, blue-clr);
        color: map-get($colors, white);
        border-color: map-get($colors, blue-clr);
        padding: 16px 45px;
        &:hover {
            background-color: map-get($colors, green-clr);
            border-color: map-get($colors, green-clr);
        }
    }
}
span.featured-card {
    background-color: map-get($colors, green-clr);
    color: map-get($colors, white);
    text-transform: uppercase;
    transform: rotate(40deg);
    @include font(mont, bold, weight);
    font-size: 11px;
    display: inline-block;
    padding: 1px 20px;
    width: 146px;
    position: absolute;
    right: -45px;
    top: 17px;
    text-align: center;
    box-sizing: border-box;
}

.author-detail {
    p {
        @include font(dom, reg);
        color: map-get($colors, blue-clr );
        font-size: 25px;
        padding: 10px 70px 20px 50px;
        background: url(../../assets/img/author-quote.png) no-repeat left 0px;
    }
}

.about-author {
    max-width: 630px;
}
.author-bio {
    float: left;
    width: 45%;
    margin-right: 5%;;
}
.author-img {
    float: left;
    width: 56px;
    @include border-radius(50%);
    margin-right: 20px;
    img {
        margin-bottom: 0;
        width: 56px;
        height: 56px;
        @include border-radius(50%);
    }
}
.author-desc {
    float: left;
    line-height: 1.2;
    padding-top: 8px;
}
.author-name {
    margin-bottom: 5px;
    font-size: 15px;
    strong {
        text-transform: uppercase;
    }
}
.author-designation {
    color: #798997;
    font-size: 14px;
}

.share-title {
    text-align: left;
    margin: 0 0 0 10px;
    font-size: 14px;
}
.socials-shares {
    float: right;
    width: 50%;
    text-align: right;
    max-width: 250px;
    ul {
        margin: 5px 0 0 0;
        padding: 0;
        li {
            display: inline-block;
            line-height: 1;
            margin: 0 0 0 2px;
            &:before {
                display: none;
            }
            a {
                display: inline-block;
                padding: 22px;
                background-repeat: no-repeat;
                background-position: center center;
                border: none;
                border-radius: 50%;
                line-height: 1;
                position: relative;
                top: 0;
                @include transition(top, 0.4s, ease-in-out);

                &.facebook-social {
                    background-image: url(../../assets/img/facebook-social.png);
                }
                &.google-social {
                    background-image: url(../../assets/img/google-social.png);
                }
                &.linkedin-social {
                    background-image: url(../../assets/img/linkedin-social.png);
                }
                &.twitter-social {
                    background-image: url(../../assets/img/twitter-social.png);
                }
                &.mail-social {
                    background-image: url(../../assets/img/mail-social.png);
                }
                &:hover {
                    top: -8px;
                }
            }
        }
    }
}
