header {
    position: fixed;
    padding: 20px 0;
    @include transition(all, 0.4s, ease-in-out);
    width: 100%;
    &.shrink {
        background-color: map-get($colors, white );
        padding: 15px 0 !important;
        z-index: 2;
        .main-logo {
            display: block;
            margin-top: 5px;
            line-height: 0;
        }
        .white-logo {
            display: none;
        }
        .main-menu ul li a {
            color: map-get($colors, blue-clr);
            &:hover {
                color: map-get($colors, green-clr);
            }
        }
        .search-white-icon {
            display: none;
        }
        .search-color-icon {
            display: block;
        }
        .apply-btn a {
            color: map-get($colors, green-clr ) !important;
            &:hover {
                color: map-get($colors, white ) !important;
            }
        }
    }
}
.search-color-icon {
    display: none;
}
.logo {
    float: left;
    a {
        border-bottom: 0px;
    }
    a:hover {
        border-bottom: 0;
    }
}

.menu-area {
    text-align: right;
    float: right;
     @include font(mont, bold, weight);
}
.main-menu {
    float: right;
    margin-top: 0px;
    ul {
        margin: 10px 0 0 0;
        padding: 0;
        position: relative;

        li {
            position: relative;
            margin: 0;
            float: left;
            margin-right: 5rem; 

            a, a:visited {
                font-size: 16px;
                position: relative;
                color: map-get($colors, menu-clr);
                border-bottom: 1px solid transparent;

                &:hover {
                    color: map-get($colors, green-clr);
                }
            }
            &.current-menu-item a {
                color: map-get($colors, green-clr);
            }
        }
    }
}
.apply-btn {
    float: right;
    a{
        display: inline-block;
        color: map-get($colors, menu-clr);
        border: 2px solid map-get($colors, green-clr);
        font-size: 15px;
        line-height: 1;
        padding: 11px 33px 13px 33px;
        border-radius: 60px;
        letter-spacing: 0.4px;
        &:hover {
            color: map-get($colors, white);
            background-color: map-get($colors, green-clr);
        }
    }
}
.white-logo {
    display: none;
}
.colored-header {
    header {
        padding: 35px 0;
    }
    .main-menu {
        ul li a {
            color: map-get($colors, white );
        }
    }
    .banner-area {
        background-color: map-get($colors, blue-container );
    }
    .main-logo {
        display: none;
    }
    .white-logo {
        display: block;
    }
    .apply-btn a{
        color: map-get($colors, white );
    }
}
.search-icon {
    float: right;
    margin: 13px 40px 0 0px;
    img {
        cursor: pointer;
    }
}

.header-search-form {
    width: 0;
    height: 0;
    visibility: hiddden !important;
    opacity: 0 !important;
    background-color: rgba(#0b2e5a, 0.95);
    top: 0!important;
    left: 0!important;
    
    &.popup-opened {
        visibility: visible!important;
        opacity: 1!important;
        position: fixed!important;
        z-index: 9999;
        width: 100%;
        height: 100vh!important;
        padding-top: 45vh;
    }
}

.popup-search-form {
    max-width: 650px;
    margin: 0 auto;
    position: relative;
}
.popup-cls {
    position: absolute;
    right: 5px;
    top: -50px;
}
.header-search-form {
    a {
        border-bottom: 0;
    }
    .search-form {
        input[type="search"], input[type="text"] {
            width: 79%;
            margin-right: 2%;
            padding: 12px 14px;
            height: auto;
            margin-bottom: 0;
        }
    }
}
.header-search-form input.search-form-submit {
    width: 18%;
    border-radius: 6px !important;
    padding: 12px 24px !important;
    min-width: auto;
    height: 54px;
}

/****** Drop Down Menu ******/
.main-menu ul ul {
    _margin: 0;
    /*IE6 only*/
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 23px;
    left: 0;
    z-index: 1;
    overflow: hidden;
    background-color: #ffffff;
    text-align: left;
    @include transition(all, 0.4s, ease-in-out);
    padding-top: 15px;
    border-bottom: 1px solid #e9e9e9;
}

.main-menu ul li:hover>ul {
    opacity: 1;
    visibility: visible;
    margin: 0;
    overflow: visible;
}

.main-menu ul ul ul {
    top: -1px;
    left: 162px;
    margin: 0 0 0 10px;
    _margin: 0;
    /*IE6 only*/
}

.main-menu ul ul li {
    display: block;
    border: 0;
    _line-height: 0;
    /*IE6 only*/
    padding: 0 0;
    margin: 0 0;
    border-top: 1px solid #e9e9e9;
    border-left: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
}

.main-menu ul ul li:last-child a {
    border-bottom: 0px;

    &:hover {
        border-bottom: 0px;
    }
}

.main-menu ul ul li a,
.main-menu ul ul li a:visited,
.main-menu ul li.current-menu-item ul li a,
.main-menu ul li.current-menu-item ul li a:visited {
    padding: 13px 20px;
    width: 200px;
    border-bottom: 0px solid transparent;
    _height: 10px;
    /*IE6 only*/
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    @include transition(all, 0.4s, ease-in-out);
    background: none !important;
    font-size: 14px;
}

.main-menu ul ul li a:hover,
.main-menu ul ul li.current-menu-item a,
.main-menu ul li.current-menu-item ul li a:hover {
    color: map-get($colors, green-clr) !important;
    border-bottom: 0px solid transparent;
}

.menu-item-has-children a {
    background: url(../img/menu-arrow.svg) no-repeat right 8px;
    padding-right: 20px;
    box-sizing: border-box;
}

#cssmenu {
    .mobile-menu-c {
        display: none;
        position: absolute;
        width: 100%;
        z-index: 999;
        overflow: hidden;
        margin: 0;
        height: 100vh;
        text-align: center;
        background-color: #f1f6fa;
    }
}

.menu-height {
    padding: 90px 0 0 0;
    height: 90vh;
    overflow: auto;
    margin: 0 0 0 0;
}

#cssmenu {
    ul {
        background-color: map-get($colors, blue-clr);
        margin: 0;

        li {
            @include font(mont, reg, weight);
            font-size: 20px;
            letter-spacing: 2px;

            &.current-menu-item a {
                background-color: #0a4e80;
            }

            a {
                color: map-get($colors, white);
                padding: 20px;
                border-top: 1px solid rgba(255, 255, 255, 0.33);

                &:hover {
                    background-color: #0a4e80;
                }
            }
        }

        border-bottom: 1px solid rgba(255, 255, 255, 0.33);
    }

    .mobile-second-menu {
        ul {
            background-color: #F1F6FA;

            li {
                a {
                    color: map-get($colors, h-blue);
                    border-bottom: 1px solid #bdc4cd;

                    &:hover {
                        background-color: transparent;
                        color: #0a4e80;
                    }
                }
            }
        }
    }

    .menu-search {
        max-width: 335px;
        margin: 20px auto;

        input[type="search"],
        input[type="text"] {
            float: left;
            width: 70%;
            margin-bottom: 0;
            height: 54px;
            @include border-radius(0);
        }

        input[type="submit"] {
            float: right;
            min-width: 30%;
            @include border-radius(0px 5px 5px 0px);
            background: map-get($colors, blue-clr);
            text-align: center;
            padding-right: 0;
            height: 54px;
            border: 0px;

            &:hover {
                background: #093254;
            }
        }
    }
}

.menu-call-icon {
    position: absolute;
    right: 70px;
    width: 39px;
    top: 28px;

    a {
        border-bottom: 0;

        &:hover {
            border-bottom: 0;
        }
    }
}

#cssmenu .menu-item-has-children {
    background: none;
    padding-right: 0;
}

.banner-area {
    padding: 13rem 0 0 0;
    .btn {
        margin-top: 10px;
        padding: 20px 35px 20px 35px;
    }
}
.big-header {
    &.banner-area {
        padding-top: 18rem;
    }
    .banner-content {
        margin-bottom: 30px;
    }
}
.home-banner {
    padding-top: 22rem;
}
.cat-banner {
    position: relative;
    color: map-get($colors, green-clr );
    font-size: 14px;
    letter-spacing: -0.14px;
    @include font(mont, semi-bold, weight);
    margin-bottom: 25px;
    &:after {
        content: '';
        display: inline-block;
        background-color: map-get($colors, green-clr );
        width: 26px;
        height: 2px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -4px;
        margin: auto;
    }
}
.simple .banner-content {
    margin: 0 auto;
}
.center-align .banner-content {
    margin: 0 auto;
}
.banner-content {
    max-width: 570px;
}
.left-align .cat-banner {
    &:after {
        margin: 0;
        left: 2px;
    }
}
