.home .page-content {
    margin-bottom: 0;
}
.courses-container {
    background: #0b2e5a url(../../assets/img/courses-bg-icon.png) no-repeat 103% 75%;
    padding: 14rem 0 7rem 0;
}
.courses-headings {
    margin-right: 10rem;
}
.white-content {
    h1, h2, h4, p {
        color: map-get($colors, white );
    }
    h2 {
        letter-spacing: -2px;
    }
}
.banner-btns {
    a.btn {
        margin-right: 15px;
        &:nth-child(2n+2) {
            background-color: map-get($colors, white );
            color: map-get($colors, blue-container );
            border-color: map-get($colors, white );

            &:hover {
                color: map-get($colors, white );
                border-color: map-get($colors, blue-clr );
                background-color: map-get($colors, blue-clr );
                box-shadow: none;
            }
        }
    }
}
.home {

    .banner-area .logos-area {
        margin-top: 8rem;
        .row {
            margin-bottom: 0;
        }
        .logos-title {
            text-transform: unset;
            color: rgba(#8ca9cf, 0.5);
            @include font(mont, semi-bold, weight);
            letter-spacing: 0;
            padding-right: 27px;
            border-right: 1px dashed rgba(#8ca9cf, 0.5);
            margin-right: 4rem;
        }
    }
}
.our-courses {
    .our-course:nth-child(1) {
        margin-top: 20rem;
    }
    .our-course:nth-child(4) {
        margin-top: 5.5rem;
    }
}
.our-course {
    float: left;
    width: 270px;
    margin: 0 5.5rem 5.5rem 0;
    
    span {
        display: block;
    }
    a {
        border-bottom: 0;
    }
    &:hover .course-title {
        color: map-get($colors, green-clr );
        background-image: url(../../assets/img/course-arrow-hover.png);
    }
}
.course-img {
    height: 295px;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    @include border-radius(5px 5px 0 0);
}
.course-title {
    letter-spacing: -1px;
    padding: 18px 25px 18px 20px;
    @include border-radius(0 0 5px 5px);
    color: map-get($colors, body-clr );
    line-height: 1.2;
    @include font(mont, semi-bold, weight);
    @include transition(all, 0.4s, ease-in-out);
    
    background: #ffffff url(../../assets/img/course-arrow.png) no-repeat right 25px center;
}
.testimonial {
    padding: 10rem 0;
    .client-review {
        font-size: 5.1rem;
        margin: 5rem 0 8rem 0;
        p {
            line-height: 1.1;
            padding-right: 2rem;
        }
    }
}
.template-headings {
    float: left;
    min-height: 400px;
    position: relative;
    h2 {
        width: 710px;
        position: absolute;
        top: 0;
        left: 0;
    }
    p {
        width: 490px;
        margin-top: 176px;
    }
}

.our-template {
    float: right;
    width: 23.81%;
    background-color: map-get($colors, white );
    margin: 0 0 20px 20px;
    box-sizing: border-box;
    text-align: center;
    @include font (mont, bold, weight);
    &:nth-child(1) {
        margin-left: 200px;
    }
    &:nth-child(7), &:nth-child(11), &:nth-child(15) {
        margin-left: 0px;
    } 
    a {
        display: block;
        border-bottom: 0px;
        span {
            display: block;
        }
        .temp-icon {
            margin-bottom: 7px;
            margin-right: 0;
            display: inline-block;
            width: 68px;
            height: 68px;
        }
        .tamp-desc {
            border-bottom: 0;
            padding: 2.3rem 5rem 3.2rem 5rem
        }
        .temp-name{
            font-size: 16px;
            line-height: 1.25;
        }
    }
}
.our-template.all-templates a  {
    .tamp-desc {
        padding: 17px 15px 20px 15px;
    }
    .temp-icon {
        width: 143px;
        height: 143px;
        font-size: 16px;
        color: map-get($colors, blue-clr );
        margin-bottom: 0;
    }
}
.all-temps {
    margin-top: 50px;
    line-height: 1.25;
     @include font(mont, medium, weight);
}
.our-guide {
    padding-left: 6px;
    max-width: 300px;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
    min-height: 410px;
    @include border-radius(4px);
    box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.09);
    @include transition (all, 0.4s, ease-in-out);
    border-bottom: 3px solid #ffffff;
    &:hover {
        box-shadow: 0 0 20px rgba(34, 61, 73, 0.4);
    }
    a {
        display: block;
    }

    &:after {
        content: '';
        display: inline-block;
        position: absolute;
        bottom: -6px;
        left: 1px;
        width: 100%;
        height: 4px;
        background-color: #4a5a62;
        @include border-radius(0 0 6px 8px);
    }
    
}
.our-guide-bg {
    background: url(../../assets/img/our-guide-bg.png) repeat left top;
    padding: 35px 36px 28px 30px;
    min-height: 410px;
}
.guide-desc {
    position: absolute;
    bottom: 33px;
}
.guide-book span {
    display: block;
}
.guide-type {
    @include font(mont, bold, weight);
    font-size: 12px;
    margin-bottom: 8px;
    color: #000000;
}
.post-col {
    max-width: 300px;
    margin: 0 auto;
}
.guide-title {
    font-size: 30px;
    color: map-get($colors, white );
    @include font(play, bold);
    line-height: 1.1;
}
.latest-posts h2 {
    margin-bottom: 6.5rem;
}
.post-cat{
    color: #8696a5;
    font-size: 15px;
    @include font(mont, semi-bold, weight);
    margin-bottom: 3rem;
    display: inline-block;
    a {
        color: #8696a5;
        &:hover {
            color: map-get($colors, blue-clr );
        }
    }
}
.post-title {
    font-size: 31px;
    line-height: 1.2;
    padding-right: 3.5rem;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    margin-bottom: 3.5rem;
    min-height: 150px;
    a {
        color: map-get($colors, body-clr );
        border-bottom: 0;

        &:hover {
            color: map-get($colors, blue-clr );
        }
    }
}
.help-cards {
    .col {
        margin-bottom: 40px;
        &:nth-child(2n+2) {
            margin-top: 190px;
        }
        &:last-child() {
            margin-bottom: 0;
        }
    }
}
.help-card {
    max-width: 270px;
    min-height: 320px;
    margin: 0 auto;
    a {
        border-bottom: 0;
        display: block;
        background-color: map-get($colors, white );
        padding: 32px 36px 35px 36px;
        box-shadow: 4px 5px 10px rgba(34, 61, 73, 0.05);
        &:hover {
            box-shadow: 0 0 20px rgba(34, 61, 73, 0.4);
            h5 {
                color: map-get($colors, blue-clr );
            }
        }
    }
    .help-icon {
        display: block;
        margin-bottom: 10px;
        img {
            margin-bottom: 0;
            max-width: 27px;
        }
    }
    h5 {
        @include font(mont, bold, weight);
        margin-bottom: 1.5rem;
        @include transition(all, 0.4s, ease-in-out);
    }
    p {
        color: #657582;
        font-size: 16px;
        margin-bottom: 3.5rem;
    }
}
.w-watermark {
    background: url(../../assets/img/watermark-bg.png) no-repeat 102% bottom;
}
div#ms-container {
    margin-bottom: 0;
}
