footer .featured-logos {
    padding: 35px 0 20px 0;
    border-top: 1px solid #e5e5e5;
}
.logos-title {
    float: left;
    margin: 10px 70px 0 0;
    font-size: 15px;
    text-transform: uppercase;
    @include font(mont, bold, weight);
    letter-spacing: 1px;
}
.client-logos {
    float: left;
}
.client-logo {
    display: inline-block;
    margin: 0 40px;
    &:first-child {
        margin-left: 0;
    }
    &:last-child {
        margin-right: 0;
    }
}
.footer-container {
    padding: 8rem 0 6rem 0;
    background: #0b2e5a url(../../assets/img/footer-water-mark.png) no-repeat 102% -40%;
}
.cta-headings {
    color: map-get($colors, white );
    h2 {
        color: map-get($colors, white );
        @include font(mont, light, weight );
        font-size: 4.9rem;
        margin-bottom: 15px;
    }
    p {
        color: map-get($colors, white );
        margin-bottom: 0;
    }
}
.cta-buttons {
    a.btn {
        padding: 17px 4.2rem 17px 4.2rem;
        min-width: auto;
        font-size: 14px;
        margin: 5px 3px;
        
        &.blue-clr {
            background-color: map-get($colors, white );
            color: map-get($colors, dark-blue-clr );
            border-color: map-get($colors, white );
            &:hover {
                background-color: map-get($colors, blue-clr );
                border-color: map-get($colors, blue-clr );
                color: map-get($colors, white );
            }
        }

    }
}
.footer-cta {
    padding-bottom: 6rem;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
.main-footer {
    margin: 12rem 0 8rem 0;
    color: map-get($colors, white );
    a {
        border: 0;
        &:hover {
            border: 0px;
            color:  map-get($colors, green-clr ) !important;
        }
    }
}
.main-footer.big-footer {
    margin: 8rem 0;
}
.tag-line {
    @include font(mont, bold, weight);
    max-width: 150px;
    margin: 2.7rem 0 0 0;
    line-height: 1.55;
}
.we-exists {
    ul {
        margin: 0;
        padding: 0;
        li {
            color: map-get($colors, white );
            font-size: 14px;
            padding-left: 35px;
            background-repeat: no-repeat;
            background-position: left 5px;
            line-height: 1.7;
            margin-bottom: 2rem;
            a {
                color: map-get($colors, white );
                
            }
            &.location-icon {
                background-image: url(../../assets/img/location-icon.png);
            }
            &.cell-icon {
                background-image: url(../../assets/img/cell-icon.png);
                margin-bottom: 1rem;
            }
            &.email-icon {
                background-image: url(../../assets/img/email-icon.png);
            }

        }
    }
}
.footer-widgets {
    .footer-widget:nth-child(3) {
        text-align: center;
        ul {
            margin: 0 0 0 10px;
            padding: 0;
            li {
                margin-bottom: 2.5rem;
            }
        }
    }
}
.content-widgets {
    .widget:nth-child(2) {
        padding-left: 43px !important;
    }
    .widget:nth-child(3) {
        padding-left: 30px !important;
    }
    .widget:nth-child(4) {
        padding-left: 33px !important;
    }
}

.popular-content {
    padding: 4rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    h5 {
        @include font(mont, bold, weight );
        color: map-get($colors, white );
        margin-bottom: 3rem;
    }
    ul {
        margin: 0;
        padding: 0;
        li {
            position: relative;
            margin: 0 0 1.8rem 0;
            padding: 0 0 0 15px;
            font-size: 16px;
            color: rgba(map-get($colors, white ), 0.6);
            a {
                color: rgba(map-get($colors, white ), 0.6);
                    overflow: hidden;
                    display: -webkit-box !important;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
            }
            &:before {
                content: '';
                position: absolute;
                top: 8px;
                left: 0;
                width: 4px;
                height: 4px;
                background-color: rgba(255,255,255,0.6);
                @include border-radius(5px);
            }
        }
    }
    a {
        border: 0;
        &:hover {
            border: 0px;
            color:  map-get($colors, green-clr ) !important;
        }
    }
}
h4.widget-title {
    font-size: 16px;
    @include font(mont, bold, weight );
    color: map-get($colors, white );
    letter-spacing: 0;
}

.footer-bottom .row {
    margin-bottom: 0;
    color: map-get($colors, white );
    a {
        border: 0;
        &:hover {
            border: 0px;
            color:  map-get($colors, green-clr ) !important;
        }
    }
}
.site-info {
    margin-top: 5px;
    font-size: 13px;
}
.copyright {
    margin-right: 7rem;
    display: inline-block;
}
.footer-menu {
    display: inline-block;
    ul {
        margin: 0;
        padding: 0;
        li {
            position: relative;
            padding: 0 20px;
            margin: 0;
            font-size: 13px;
            color: map-get($colors, white );
            display: inline-block;
            a, a:visited {
                color: map-get($colors, white );
                &:hover {
                    border: 0px;
                    color: map-get($colors, green-clr );
                }
            }
            &:after {
                content: '|';
                display: inline-block;
                width: 1px;
                height: 14px;
                position: absolute;
                right: 0;
            }
            &:last-child:after {
                display: none;
            }
            &.current-menu-item a {
                color: map-get($colors, green-clr );
            }
        }
    }
}
.footer-socials {
    ul {
        margin: 0;
        padding: 0;
        li {
            margin: 0;
            font-size: 13px;
            color: map-get($colors, white );
            display: inline-block;
            a {
                margin: 0 5px;
                display: inline-block;
                position: relative;
                top: 0;
                @include transition(top, 0.4s, ease-in-out);
                &:hover {
                    top: -5px;
                }
            }
        }
    }
}
