.banner-image-container {
    position: absolute;
    right: 0;
    top: 0;
    height: 625px;
    width: 730px;
    z-index: -1;
}
.masthead-image {
    background: url(../img/courses-banner-image.jpg) no-repeat;
    background-position: right top;
}
.inner-banner-bg {
    background: url(../img/banner-bg.png) no-repeat;
    background-position: right top;
    height: 623px;
}
.big-header {
    &.banner-area {
        padding-top: 18rem;
    }
    .banner-content {
        margin-bottom: 30px;
    }
}

.banner.logos-title {
    float: none;
    opacity: 0.6;
    margin-bottom: 3rem;
}
.featured-icon {
    display: inline-block;
    margin-right: 70px;
    &:last-child {
        margin-right: 0;
    }
}
.course-cards {
    .card-cat {
        text-transform: uppercase;
    }
}
.next-event {
    max-width: 550px;
    margin: 0 auto;
    img {
        box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
    }
}
.event-img {
    margin-bottom: 20px;
}
.events-des {
    float: left;
    text-align: left;
    width: 66%;
}
.events-des {
    .section-heading {
        margin-bottom: 0;
    }
}
.event-date-locate {
    font-size: 15px;
    ul {
        margin: 0;
        padding: 0;
        li {
            margin: 0 15px 7px 0;
            padding: 0 15px 0 0;
            position: relative;
            display: inline-block;
            color: #657582;
            &:after {
                content: '|';
                display: inline-block;
                width: 1px;
                height: 15px;
                background-color: #ffffff;
                position: absolute; 
                right: 0;;
            }
            &:last-child:after {
                display: none;
            }
            &:before {
                display: none;
            }
        }
    }
}
.event-registeration {
    float: right;
    width: 175px;
    margin-top: 13px;
}
