span.post-description {
    min-height: 180px;
    .card-title {
        -webkit-line-clamp: 3;
    }
    .card-expert {
        margin-bottom: 1rem;
        -webkit-line-clamp: 4;
        padding-right: 3rem;
    }
}
.load-more {
    margin: 40px 0;
}
