.banner-left-col {
    float: left;
    width: 50%;
    min-height: 440px;
}
.single-course {
    .page-content {
        margin-bottom: 0;
    }
}
#right.stickOnScroll-on {
    width: 66.2%;
}
.start-course {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
    margin-top: 2rem;
    float: right;
    width: 48%;
}
.start-course-img {
    height: 370px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    position: relative;
    .course-btn {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 230px;
        height: 80px;
        .btn.arrow {
            background-image:  url(../../assets/img/arrow-right.png);
        }
    }
}
.course-det {
    padding: 15px;
    background-color: map-get($colors, white );
    .course-fectors {
        float: left;
        margin-bottom: 0;
        .course-fector {
            border: 1px solid rgba(map-get($colors, dark-blue-clr ), 0.6);
            color: rgba(map-get($colors, dark-blue-clr ), 0.6);
            .hours {
                background-image: url(../../assets/img/start-course-hours.png);
            } 
        }
    } 
     
}
.course-share {
    text-align: right;
    float: right;
    width: 50%;
    line-height: 1;
    ul{
        margin: 0;
        padding: 0;
        li {
            display: inline-block;
            margin: 0;
            padding: 0;
        }
    }
}
span.course-share-title {
    position: relative;
    top: -13px;
    right: 10px;
    font-size: 15px;
}
.course-content {
    max-width: 48%;
    float: left;
    position: relative;
    top: -7rem;
    h2 {
        @include font(mont, bold, weight);
    }
    ul {
        margin-bottom: 5.5rem;
    }
    
}
.course-intro {
    margin-bottom: 10rem;
}
.course-syllabus{
    ul {
        margin: 0 0 6rem 0;
        border-top: 1px solid #d5d8dc;
        li {
            margin-bottom: 0;
            padding: 8px 20px 8px 40px; 
            border-bottom: 1px solid #d5d8dc;
            &:before {
                left: 20px;
                top: 18px;
            }
        }
    }
    h4 {
        margin-bottom: 4rem;
    }
    h5 {
        margin-bottom: 2rem; 
    }
}
.related-posts {
    .course-card .card-title {
        margin-bottom: 15px;
    }
    .course-fectors {
        margin-bottom: 20px;
    }
}
