.single-post h1 {
    font-size: 6rem;
    @include font(mont, bold, weight);
}
.publish-date {
    font-size: 14px;
    margin-bottom: 6rem;
    display: inline-block;
}
.post-idea {
    @include font(mont, medium, weight);
    font-size: 21px;
    background: #f2f7ea url(../../assets/img/post-idea.png) no-repeat -25px 30px;
    padding: 40px 60px 40px 70px;
    line-height: 1.45;
    margin-bottom: 6rem;
    p {
        margin: 0;
        line-height: 1.45;
    }
}
.page-content iframe {
    margin-bottom: 6rem;
}
.post-content {
    p {
        margin: 0 3rem 2rem 0;
    }
    ul {
        margin-bottom: 3rem;
    }
}

.full-width {
    .author-bio {
        float: none;
        width: 100%;
        margin-right: 0;
        clear: both;
    }
    .author-desc {
        float: none;
        padding: 0 0 0 0;
        margin-bottom: 3rem;
    }
    .author-name {
        font-size: 16px;
        float: left;
        width: 80%;
        p {
            margin: 0 0 1.5rem 0;
            line-height: 1.5;
        }
        strong {
            text-transform: initial;
        }
    }
    .socials-shares {
        float: none;
        width: 100%;
        text-align: left;
        max-width: 100%;
        ul {
            display: inline-block;
        }
        p.share-title {
            display: inline-block;
            margin: 0 1.5rem 0 0;
            position: relative;
            top: -15px;
            font-size: 14px;
        }
    }
}
