.template-card {
    background-color: map-get($colors, white );
    box-shadow: 0 0 10px rgba(41, 89, 110, 0.15);
    span {
        display: block;
        line-height: 1.3;
    }
    &:hover .temp-icon {
         border: 1px solid map-get($colors, blue-clr );
    }
}
.post-card {
    &:hover {
        .temp-icon {
            border: 1px solid map-get($colors, blue-clr );
        }
        .temp-name {
            color: map-get($colors, blue-clr );
        }
    }
}
.tamp-desc {
    padding: 3.5rem 5rem 4.5rem 5rem;
    font-size: 23px;
    color: map-get($colors, dark-blue-clr );
    border-bottom: 2px solid map-get($colors, green-clr );
}
.temp-icon {
    background-color: #edf8fd;
    width: 88px;
    height: 88px;
    @include border-radius(50%);
    position: relative;
    border: 1px solid #edf8fd;
    @include transition(all, 0.4s, ease-in-out);
    margin-bottom: 7rem;
    img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        max-height: 40px;
        max-width: 50px;
    }
}
