.single-diy h1 {
    margin-bottom: 1rem;
}
.banner-area .temp-icon {
    margin-bottom: 1.3rem;
}
.image-absolute-column {
    position: absolute;
    left: 50% !important;
    text-align: center;
}
.has-absolute-img {
    position: relative;
    max-width: 1500px;
    margin: 0 auto;
}
.cta {
    padding: 5rem 0 4.5rem 0;
    .cta-haedings {
        float: left;
        width: 60%;
    }
    .cta-buttons {
        float: right;
        width: 40%;
    }
    h2 {
        line-height: 1.2;
    }
}
.cta-img {
    float: left;
    width: 15%;
    padding-right: 2%;
    box-sizing: border-box;
    img {
        margin-bottom: 0;
    }
}
.cta-content {
    float: left;
    width: 83%;
}
