.page-template-template-services {
    .banner-content {
        max-width: 100%;
    }
}
.our-service {
    background-repeat: no-repeat;
    background-position: left 3px;
    background-size: 56px;
    padding-left: 80px;
    margin-bottom: 15rem;
    min-height: 450px;
    p{
        padding-right: 12.8rem;
        line-height: 1.85;
    }
}
