/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
          transition-duration: 0s;
}
.hidden {
  display: none;
}
.resource-banner {
    img {
        box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.09);
    }
}
.about-book {
    margin: 6rem 0 0 2rem;
    ul {
        margin-bottom: 5.5rem;
        li {
            margin-bottom: 10px;
        }
    }
}
.book-cta {
    img {
        box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.09);
    }
    p {
        margin-bottom: 2.5rem;
    }
}
