/*******************************************************
Form Elements
********************************************************/
input[type="text"],
input[type="password"],
.input-comments,
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="date"],
input[type="file"],
input[type="range"],
select,
textarea,
input[type="search"] {
    width: 98%;
    border: 0px;
    border-bottom: 1px solid #2d3e50;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #0F2C45;
    outline: none;
    padding: 0 15px 0 0;
    @include font(mont, reg);
    height: 43px;
    margin-bottom: 20px;
    /* SCSS Error - Cannot apply imp here */
    font-size: 18px;
    background-color: transparent;
    @include transition(all, 0.4s, ease-in-out);
    line-height: 1.3;

    &:focus {
        border-color: map-get($colors, blue-clr);
    }
}

textarea {
    padding-top: 1.5rem;
    height: 115px;
    margin-bottom: 25px;
    resize: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    padding-right: 5rem;
    color: rgba(#0F2C45, 0.39);
    margin-bottom: 3.5rem;
    color: map-get($colors, h-blue);

    option {
        color: rgba(#0F2C45, 0.39);
    }
}
select:focus {
    border-color: map-get($colors, blue-clr);
}
input {

    &[type="submit"],
    &[type="reset"] {
        margin: 0;
        cursor: pointer;
        border: 1px solid transparent;
        outline: none;
        text-align: center;
        box-sizing: border-box;
        color: map-get($colors, white);
        background: map-get($colors, green-clr);
        background-position: right 25px top 19px;
        @include font(mont, semi-bold);
        background-color: map-get($colors, green-clr);
        font-size: 18px;
        display: inline-block;
        min-width: 193px;
        padding: 10px 0;
        margin-bottom: 13px;
        height: 55px;
        @include border-radius(25px);

        &:hover {
            background-color: #024f83;
            color: map-get($colors, white);
        }
    }
}
.error404 {
    input {
        &[type="submit"] {
            margin: 0 0 4rem 0;
        }
    }
}
::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(#162948, 0.5);
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(#162948, 0.5);
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(#162948, 0.5);
}

:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(#162948, 0.5);
}
#search-top input[type="text"] {
    background-color: #f2f8fa;
    @include border-radius(3px);
    color: rgba(49, 60, 80, 0.5);
    border: 1px solid #d7dfe7;
    height: 55px;
    padding: 0 1.5rem;
    margin-bottom: 20px;
    font-size: 20px;
}
input {

    &:focus,
    &:active {
        box-shadow: none !important;
    }
}
input[type="submit"]:hover,
input[type="reset"]:hover {
    color: map-get($colors, white);
    background-color: map-get($colors, blue);
}
input[type="file"] {
    padding-top: 13px;
}
.validation_error,
.validation_message {
    color: #e74c3c;
    position: relative;
    top: -9px;
}
.gform_wrapper {
    ul {
        margin: 0;

        li {
            list-style-type: none;
            background: none;
        }
    }
}
.gfields {
    margin: 0;
}
.gfield {
    box-sizing: border-box;
    margin-bottom: 0;
    position: relative;
}
.contact-form ul {
    list-style-type: none;
    margin: 0;
}
.contact-form textarea {
    height: 115px;
    margin-bottom: 25px;
}
.gform_footer {
    clear: both;
}
.gfield {
    label {
        display: block;
        z-index: 1;
        cursor: text;
        margin-bottom: 10px;
        @include font(mont, bold);
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #0F2C45;
    }
}
ul {
    li {
        &.gfield.half-input-field {
            width: 48%;
            margin-right: 2%;
            float: left;
        }

        &.gfield {
            list-style-image: none;
            padding-left: 0;
            float: left;
            width: 98%;
            list-style: none;
        }
    }
}

.page-wrapper {
    .gform_wrapper {
        ul {
            li {
                &::before {
                    display: none;
                }
            }
        }
    }
}
.required-style-none .gfield_required {
    display: none;
}
.subscriber-area {
    padding-left: 40px;
    font-size: 14px;
    p {
        margin: 0 30px 3rem 0;
    }
}
.subscriber-form input {
    margin-bottom: 0 !important;
    font-size: 15px !important;
    height: 46px;
}
.subscriber-form input[type="text"] {
    width: 68%;
    margin-right: 2%;
    float: left;
}
.subscriber-form input[type="submit"] {
    float: right;
    width: 30%;
    min-width: auto;
    padding: 0 15px;
}
