.resources-landing-single {
    padding: 18rem 0 9rem 0;
}
.download-form-container {
    background-color: map-get($colors, white);
    box-shadow: 0 0 35px rgba(34, 61, 73, 0.18);
    @include border-radius(3px);
    padding: 40px 33px;
    width: 350px;
    @include transition(all, 0.4s, ease-in-out);
    text-align: left;
    float: right;
    margin-left: 55px;
}
  
#download-form.stickOnScroll-on {
    .download-form-container {
        margin-top: 2rem;
    }
}
.download-form-container {
    ul {
        margin: 0;
        li {
            &.gfield.half-input-field {
                width: 100%;
                margin-right: 0%;
                float: none;
            }
    
            &.gfield {
                list-style-image: none;
                padding-left: 0;
                float: none;
                width: 100%;
                list-style: none;
            }
        }
    } 
    input[type="text"],
    input[type="password"],
    .input-comments,
    input[type="email"],
    input[type="url"],
    input[type="tel"],
    input[type="number"],
    input[type="date"],
    input[type="file"],
    input[type="range"],
    select,
    textarea,
    input[type="search"] {
        border: 1px solid #abb2b9;
        padding: 0 15px;
        @include border-radius(3px);
        &:focus {
            border-color: map-get($colors, blue-clr);
        }
    }
    .gfield {
        label {
            color: #657582;
            font-size: 15px;
            margin-bottom: 3px;
            @include font(mont, reg);
            text-transform: capitalize;
        }
    }
    input {

        &[type="submit"],
        &[type="reset"] {
            width: 100%;
            margin-top: 10px;
            &:hover {
                background-color: #024f83;
                color: map-get($colors, white);
            }
        }
    }
}
.download-form-container, .page-wrapper {
    .gform_wrapper {
        ul {
            li {
                &::before {
                    display: none;
                }
            }
        }
    }
}
