/*******************************************************
Wordpress Core
*******************************************************/
.alignright {
    float: right;
    margin: 5px 0 10px 20px;
}
.alignleft {
    float: left;
    margin: 5px 20px 10px 0px;
}
.aligncenter {
    display: block;
    margin: 15px auto 15px auto;
}
.wp-caption {
    max-width: 100%;
    /* Image does not overflow the content area */
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
}
.wp-caption.alignnone {
    margin: 15px 20px 15px 0;
}
.wp-caption.alignleft {
    margin: 15px 20px 15px 0;
}
.wp-caption.alignright {
    margin: 15px 0 10px 20px;
}
.wp-caption {
    img {
        border: 0 none;
        height: auto;
        margin: 0 0 7px 0;
        max-width: 100%;
        padding: 0;
        width: auto;
        p.wp-caption-text {
            font-size: 18px !important;
            line-height: 1.65;
            margin: 0;
            padding: 6px 4px 4px 4px;
            text-transform: lowercase;
            color: rgba(#162948, 0.45);
        }
    }
}
.page-content-area {
    p.wp-caption-text {
        font-size: 18px !important;
    }
}
.desktop-hide,
.mobile-show {
    display: none;
}
/*********** Pagination **********/
.pagination {
    padding: 3rem 0;
    a,
    a:visited,
    span {
        @include font(mont, med, weight);
        font-size: 16px;
        display: block;
        float: left;
        margin: 2px 5px 2px 0;
        background-color: transparent;
        border: 1px solid #C7C5D3;
        color: #440099;
        padding: 13px 20px;
        border-radius: 4px;
        -webkit-border-radius: 4px;
    }
    
    .current,
    a:hover {
        color: #ffffff;
        background-color: #211551;
        border: 1px solid #211551;
    }
}
#commentform {
    ul {
        margin: 0;
        li {
            background: none;
            padding: 0;
            &:before {
                display: none;
            }
        }
    }
}
.kwayy-html-sitemap-wrapper br {
    display: none;
}
#masonry-new {
    margin-left: 20px;
}
.grid-item {
    width: 48.9% !important;
}
/*******************************************************
Comments Style
*******************************************************/
.meta {
    background-color: #7CB9CC;
    padding: 8px 12px;
    color: #ffffff;
    border-radius: 6px;
    a {
        color: map-get($colors, white);
        border-bottom: 1px solid rgba(255, 255, 255, 0.8);
        padding-bottom: 3px;
    }
}
.comment-meta,
.comment-author {
    margin-bottom: 15px;
}
.float-right {
    float: right;
    color: map-get($colors, white);
}
.float-left {
    float: left;
    padding-right: 10px;
    color: map-get($colors, white);
}
#respond {
    ul {
        list-style-type: none;
        li {
            width: 32%;
            float: left;
            margin-right: 2%;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .logged-in {
        margin: 0 0 1.5rem;
    }
}
#commentform .input-comments,
#commentform input[type=text] {
    width: 100%;
    float: left;
    margin-right: 1.62%;
}
#commentform label {
    display: block;
}
#commentform {
    ul {
        margin-left: 0;
        margin-bottom: 0;
        li {
            &:before {
                display: none;
            }
        }
    }
}
.comments-closed {
    margin: 4rem 0;
}
ol.commentlist {
    list-style: none;
    margin: 0 0 0 0;
    li {
        padding-left: 0;
        &:before {
            content: '';
            display: none;
        }
    }
}
.commentlist li {
    margin: 0 0 4rem 0;
}
.comment-body p {
    margin: 0 0 3rem 0;
}
.commentlist li:before,
ol.commentlist li:before {
    display: none;
}
ol {
    &.commentlist {
        li {
            div {
                &.vcard cite.fn {
                    font-style: normal;
                    position: relative;
                    top: -5px;
                }
                &.vcard img.avatar {
                    float: left;
                    margin: 0 2rem 0 0;
                    width: 6rem;
                }
                &.commentmetadata {
                    padding: 0 0 1.5rem;
                }
                &.comment-meta {
                    color: #777;
                    position: relative;
                    top: -5px;
                }
                &.reply {
                    margin: 0 0 4rem 0;
                }
            }
        }
    }
}
span.says {
    position: relative;
    top: -5px;
    left: 0.8rem;
}
ol.commentlist {
    li {
        ul {
            &.children {
                list-style: none;
            }
        }
        &.pingback {
            margin: 0 0 4rem;
        }
    }
}
ol.commentlist li ul.children li.depth-2,
ol.commentlist li ul.children li.depth-3,
ol.commentlist li ul.children li.depth-4,
ol.commentlist li ul.children li.depth-5 {
    margin: 4rem 0 0 6rem;
}
.comment-author.vcard {
    font-size: 2.6rem;
    color: #1f1f1e;
}
a.comment-reply-link {
    background: #7CB9CC;
    color: map-get($colors, white);
    padding: 0.7rem 1.4rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.6rem;
    &:hover {
        background: map-get($colors, blue);
        color: map-get($colors, white);
    }
}
.comment-body {
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 3rem;
}
input#adminbar-search {
    border: none !important;
}
