@include media-from-to(3001px, 7000px) {}

@include media-from-to(2901px, 3000px) {}

@include media-from-to(2801px, 2900px) {}

@include media-from-to(2701px, 2800px) {}

@include media-from-to(2601px, 2700px) {}

@include media-from-to(2501px, 2600px) {}

@include media-from-to(2401px, 2500px) {}

@include media-from-to(2301px, 2400px) {}

@include media-from-to(2201px, 2300px) {}

@include media-from-to(2101px, 2200px) {}

@include media-from-to(2001px, 2100px) {}

@include media-from-to(1900px, 2000px) {}

@include media-from-to(2661px, 7000px) {}

@include media-from-to(2540px, 2660px) {}

@include media-from-to(1900px, 2500px) {}

@include media-from-to(1660px, 1899px) {}

@include media-from-to(1440px, 1659px) {
    
}

@include media-from-to(1346px, 1439px) {
    
}

@include media-from-to(1200px, 1345px) {

}

@include media-from-to(993px, 1199px) {

}

@include media-from-to(1200px, 1345px) {

}

@include media-from-to(993px, 1345px) {

}

@include media-to(992px) {

}

@include media-from-to(748px, 992px) {

}

@include media-to(747px) {

}

@include media-from-to(460px, 747px) {

}

@include media-from-to(580px, 747px) {

}

@include media-from-to(460px, 579px) {
}

@include media-to(459px) {

}
