 /*!**********************
   Calling Fonts Starts Here
*************************/
 @import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap');
 @import url('https://fonts.googleapis.com/css?family=Domine&display=swap');
 @import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,900&display=swap');
 @import url("https://use.typekit.net/ipt5vfj.css");
 /// Import fonts being used in the project
 @include import-fonts();
 /*!
 /*!**********************
    Calling Fonts Ends Here
*************************/
 /*!**********************
    All SCSS ENDs Here
*************************/
